{% extends 'base.html' %}

{% block navigation %}
<div class="mx-3"><span class=""><a href="{{url_for('login_user')}}">Login</a></span></div>
{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center gap-5 w-[500px] mx-auto pt-20">
  <h1 class="text-lg uppercase">User registration</h1>
  <p><span>Please click on the <button class="bg-blue-700 text-white rounded-3xl shadow-sm px-3">Take
        photo</button> button
      to take your picture and register for the service</span></p>
  <div class="camera">
    <video class="rounded-md border-slate-400 shadow-md " src="" id="video">Video stream not available</video>
    <div class="flex flex-row gap-3 items-center justify-center" id="button-container"> 
      <button class="bg-blue-700 text-white rounded-3xl shadow-md p-2 mt-5 grow" id="take-photo-button">Take photo</button>
      <button class="bg-slate-300  rounded-3xl shadow-md p-2 mt-5 grow"id="reset">Reset</button>
    </div>
  </div>
  <form class="flex flex-col items-left justify-center" action="{{ url_for('register_user') }}" method="post" enctype="multipart/form-data">
    <input class="focus:outline-slate-100 rounded-3xl px-4 py-2 border-slate-200 border-2 mb-5 focus:bg-cyan-50" type="text" name="username" id="name" placeholder="Name" required>
    <canvas class="rounded-md border-slate-400 shadow-md" id="canvas">
      <img src="" alt="The screen capture will appear here" id="photo">
    </canvas>
    <input type="file" accept="image/*" name="photo" alt="Input for captured image" hidden id="photo">
    <input class="bg-blue-700 rounded-3xl shadow-lg text-white py-2 my-5" type="submit" value="Submit registration">
  </form>
</div>

<script src="{{ url_for('static', filename='scripts/camera.js')}}"></script>
{% endblock %}